.vbox {
    -fx-background-image: url("/algo3/fiuba/resources/img/fondo-yugi.jpg");
}

.tablero {
    -fx-background-image: url("/algo3/fiuba/resources/img/fondo-arena.jpg");
}

/* FUAKDLFHJJSDLH PORQEEE*/
.mano2 {

    -fx-background-color: transparent;
    -fx-background-image: url("/algo3/fiuba/resources/img/fondo-arena.jpg");
}

.muestrarioInfoCarta {
    -fx-font-size: 24px;
    -fx-font-color: WHITE;
    -fx-font-alignment: center;
}

